@use "./helpers" as *;

:root {
  --border: rgba(48, 62, 88, 0.5);

  --border-accent: #303e58;
  --color-dark-blue: #42567a;

  --color-accent: #5d5fef;

  --color-pink: #ef5da8;

  --gradient: linear-gradient(#3877ee, #ef5da8);

  --font-family-base: "PTSans", sans-serif;

  --container-width: #{rem(1600)};
  --container-padding-r: #{rem(160)};
  --container-padding-l: #{rem(320)};

  --transition-duration: 0.2s;

  @include laptop {
    --container-width: #{rem(1280)};
    --container-padding-r: #{rem(80)};
    --container-padding-l: #{rem(160)};
  }

  @include mobile {
    --container-padding-r: #{rem(20)};
    --container-padding-l: #{rem(20)};
  }
}
