@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
 */
[fill] {
  fill: currentColor;
}

[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "PTSans";
  src: url("../assets//fonts/PTSans-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PTSans";
  src: url("../assets/fonts/PTSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PTSans";
  src: url("../assets/fonts/PTSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --border: rgba(48, 62, 88, 0.5);
  --border-accent: #303e58;
  --color-dark-blue: #42567a;
  --color-accent: #5d5fef;
  --color-pink: #ef5da8;
  --gradient: linear-gradient(#3877ee, #ef5da8);
  --font-family-base: "PTSans", sans-serif;
  --container-width: 100rem;
  --container-padding-r: 10rem;
  --container-padding-l: 20rem;
  --transition-duration: 0.2s;
}
@media (width <= 90.06125rem) {
  :root {
    --container-width: 80rem;
    --container-padding-r: 5rem;
    --container-padding-l: 10rem;
  }
}
@media (width <= 47.99875rem) {
  :root {
    --container-padding-r: 1.25rem;
    --container-padding-l: 1.25rem;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-r) + var(--container-padding-l));
  margin-inline: auto;
  padding: 0 var(--container-padding-r) 0 var(--container-padding-l);
}

html.is-lock {
  overflow: hidden;
}

body {
  font-size: clamp(0.875rem, 0.8112745098rem + 0.2614379085vw, 1.125rem);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--color-dark-blue);
  overflow: hidden;
}

main {
  flex-grow: 1;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-weight: 700;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 600;
}

h1,
.h1 {
  font-size: clamp(1.875rem, 1.237745098rem + 2.614379085vw, 4.375rem);
  line-height: 1.2;
}

h2,
.h2 {
  font-size: clamp(1.75rem, 1.2720588235rem + 1.9607843137vw, 3.625rem);
  line-height: 1.6;
  letter-spacing: -0.0125rem;
}

h3,
.h3 {
  font-size: clamp(1.5rem, 1.2450980392rem + 1.045751634vw, 2.5rem);
}

h4,
.h4 {
  font-size: clamp(1.125rem, 0.9975490196rem + 0.522875817vw, 1.625rem);
}

h5,
.h5 {
  font-size: clamp(1.125rem, 1.0294117647rem + 0.3921568627vw, 1.5rem);
}

h6,
.h6 {
  font-size: clamp(1rem, 0.9362745098rem + 0.2614379085vw, 1.25rem);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-accent);
  }
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.125rem dashed var(--color-light);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

a[aria-lable],
button[aria-lable] {
  position: relative;
}
a[aria-lable]::before,
button[aria-lable]::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 2.75rem;
  height: 2.75rem;
  content: "";
}

.w {
  position: relative;
}

.scope {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-right: 1px solid var(--border);
  border-left: 1px solid var(--border);
}
@media (width <= 47.99875rem) {
  .scope {
    display: none;
  }
}
.scope::before, .scope::after {
  content: "";
  position: absolute;
  background-color: var(--border);
}
.scope::before {
  width: 0.0625rem;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.scope::after {
  height: 0.0625rem;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.scope__data-score {
  position: relative;
  rotate: -25deg;
  transform: translate(100%, -50%);
  z-index: 3;
}
.scope__circle {
  position: relative;
  width: 31.25rem;
  height: 31.25rem;
  border: 0.0625rem solid var(--border);
  border-radius: 50%;
}
.scope__circle-point {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  width: 0.0625rem;
  height: 0.0625rem;
  border: none;
  background-color: var(--color-dark-blue);
  padding: 5px;
}

.point__number, .point__title {
  display: none;
}
.point__title {
  position: absolute;
  padding-left: 1.25rem;
  top: 25%;
  left: 100%;
  font-weight: 700;
  font-size: clamp(0.875rem, 0.7794117647rem + 0.3921568627vw, 1.25rem);
}
.point.active .point__title {
  display: block;
}
.point.active, .point:hover {
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #f4f5f9;
  border: 1px solid var(--border-accent);
}
.point.active .point__number, .point:hover .point__number {
  display: block;
}

.Timeline {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7.5rem;
}
@media (width <= 47.99875rem) {
  .Timeline {
    gap: 2.1875rem;
  }
}
.Timeline__from, .Timeline__to {
  font-size: clamp(3.5rem, 1.2058823529rem + 9.4117647059vw, 12.5rem);
  font-weight: bold;
}
.Timeline__from {
  color: var(--color-accent);
}
.Timeline__to {
  color: var(--color-pink);
}

.title {
  position: relative;
  padding-left: 5rem;
}
@media (width <= 47.99875rem) {
  .title {
    padding: 0;
  }
}
.title:before {
  content: "";
  position: absolute;
  left: 0px;
  width: 0.3125rem;
  height: 100%;
  background: var(--gradient);
}
@media (width <= 47.99875rem) {
  .title:before {
    display: none;
  }
}
.title__info {
  font-size: clamp(1.25rem, 0.6764705882rem + 2.3529411765vw, 3.5rem);
}

.historySlider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2.5rem;
  gap: 1.25rem;
  user-select: none;
}
@media (width <= 47.99875rem) {
  .historySlider {
    padding: 0;
  }
}
.historySlider__slideContent {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}
.historySlider__slideContent-title {
  color: var(--color-accent);
  font-size: clamp(1rem, 0.8566176471rem + 0.5882352941vw, 1.5625rem);
}
.historySlider__button {
  position: relative;
  border: none;
  background-color: white;
  border-radius: 50%;
  min-width: 2.5rem;
  min-height: 2.5rem;
  box-shadow: 0em 0 0.4em #3877ee;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (width <= 47.99875rem) {
  .historySlider__button {
    display: none;
  }
}
.historySlider__button::after, .historySlider__button::before {
  content: "";
  position: absolute;
  background-color: #3877ee;
  height: 0.5rem;
  width: 0.125rem;
}
.historySlider__button::after {
  rotate: -45deg;
  transform: translate(150%);
}
.historySlider__button::before {
  rotate: -135deg;
  transform: translate(-150%);
}

.custom-prev {
  transform: rotate(180deg);
}

.hidden {
  visibility: hidden;
}

.buttonYear {
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
@media (width <= 47.99875rem) {
  .buttonYear {
    padding: 0;
  }
}
.buttonYear__content {
  display: flex;
  gap: 0.625rem;
}
.buttonYear__button {
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
  border: 1px solid black;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (width <= 47.99875rem) {
  .buttonYear__button {
    border-radius: 50%;
    width: 1.5625rem;
    height: 1.5625rem;
  }
}
.buttonYear__button::after, .buttonYear__button::before {
  content: "";
  position: absolute;
  background-color: #000000;
  height: 0.5rem;
  width: 0.125rem;
}
@media (width <= 47.99875rem) {
  .buttonYear__button::after, .buttonYear__button::before {
    height: 0.25rem;
    width: 0.0625rem;
  }
}
.buttonYear__button::after {
  rotate: -45deg;
  transform: translate(150%);
}
.buttonYear__button::before {
  rotate: -135deg;
  transform: translate(-150%);
}

.prev {
  transform: rotate(180deg);
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 4.375rem;
  padding-top: 7.5rem;
  padding-bottom: 6.5rem;
}
@media (width <= 47.99875rem) {
  .section {
    height: 100vh;
  }
}

.historySwitcher {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 1.875rem;
}
@media (width <= 47.99875rem) {
  .historySwitcher {
    flex-direction: column-reverse;
  }
  .historySwitcher::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.125rem;
    top: -1.25rem;
    background-color: rgba(199, 205, 217, 0.7450980392);
  }
}

/*# sourceMappingURL=index.css.map */
